<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>QrCode</title>
        <link href="../index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h2>Scanned text:</h2>
            <p><%= text %></p>
            <button class='btn' onclick="location.href = '/upload';"><span>Back</span></button>
        </div>
    </body>
</html>
